ul {
    list-style-type: none;
    padding: 0;
}

.ColorList-choices {
    background: rgb(50, 49, 49);
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}